<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <span class="fs-2 fw-medium text-primary-emphasis">Kategoriyi Güncelle</span>
  </ng-template>
  <ng-template pTemplate="right">
      <p-button styleClass="p-button-sm p-button-raised p-button-text p-button-success" label="Yeni Ürün" icon="pi pi-plus" class="mr-2" (onClick)="openNewProductDialog()"></p-button>
      <p-button styleClass="p-button-sm p-button-raised p-button-text p-button-secondary" label="Geri Dön" icon="pi pi-arrow-left" (onClick)="navigateToMenu()"></p-button>
    </ng-template>
</p-toolbar>
<div class="container-xxl card p-2 mb-2 d-flex flex-row justify-content-between align-items-center">
    <input type="text" [style]="{width:'inherit'}" pInputText [disabled]="!isEditing" [(ngModel)]="categoryTitle"/>
    <div *ngIf="!isEditing; else editButtons">
      <p-button label="Düzenle" styleClass="p-button-link" (onClick)="isEditing = !isEditing"></p-button>
    </div>
    <ng-template #editButtons>
      <p-button icon="pi pi-check" class="ml-2" styleClass="p-button-rounded p-button-success p-button-outlined" (onClick)="saveNewCategoryName()"></p-button>
      <p-button icon="pi pi-times" class="ml-2" styleClass="p-button-rounded p-button-danger p-button-outlined" (onClick)="abortNewCategoryName()"></p-button>
    </ng-template>
</div>
<div>
  <div class="container-xxl card" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let product of products" cdkDrag>
        <span class="d-flex align-items-center justify-content-center">  
          {{product.name}}
        </span>
        <div class="d-flex align-items-center justify-content-center">
          <span>{{product.price | currency:'₺'}}</span>
          <p-skeleton shape="circle" [style]="{backgroundColor: product.isAvailable ? 'green' : 'red'}" size="1rem" styleClass="ml-3"></p-skeleton>
          <p-button class="mr-2" label="Düzenle" [style]="{border:'0px'}" styleClass="p-button-link" (onClick)="editProduct(product)"></p-button>
          <p-button styleClass="p-button-sm p-button-raised p-button-danger" icon="pi pi-trash" (onClick)="deleteProduct(product)"></p-button>
        </div>
    </div>
  </div>
</div>
<p-dialog [(visible)]="newProductDialog" [closable]="false" class="newUserDialog" header="Ürün Ekle" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="productForm">
      <div class="field">
        <label for="name">Ürün Adı</label>
        <input type="text" pInputText id="name" name="name" formControlName="name" required autofocus />
        <small class="p-error" *ngIf="submitted && name?.invalid">Ürün Adı Zorunludur.</small>
      </div> 
      <div class="field">
        <label for="price">Fiyat</label>
        <input type="number" pInputText id="price" name="price" formControlName="price" required autofocus />
        <small class="p-error" *ngIf="submitted && price?.invalid">Fiyat Negatif Olamaz.</small>
      </div> 
      <div class="d-flex flex-column">
        <label for="isAvailable">Ürün Mevcut mu?</label>
        <p-inputSwitch id="isAvailable" name="isAvailable" class="mt-2" formControlName="isAvailable"></p-inputSwitch>
      </div> 
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
      <p-button label="İptal" icon="pi pi-times" styleClass="p-button-raised p-button-text p-button-secondary" (click)="hideDialog()"></p-button>
      <p-button label="Kaydet" icon="pi pi-check" [disabled]="productForm.invalid" styleClass="p-button-raised p-button-text p-button-success" (click)="addNewProduct()"></p-button>
  </ng-template>
</p-dialog>