<div [ngClass]="{sidebar:true,open:isSidebarOpen}">
  <div class="logo_details">
    <i class="bx bxl-audible icon"></i>
    <div class="logo_name">Lunyo Kafe</div>
    <i [ngClass]="isSidebarOpen ? 'bx bx-menu-alt-right ' : 'bx bx-menu'"  id="btn" (click)="toggleSidebar()"></i>
  </div>
  <ul class="nav-list">
    <li *ngFor="let page of pages">
      <a [routerLink]="page.path">
        <i [class]="page.class"></i>
        <span class="link_name">{{page.label}}</span>
      </a>
      <span class="tooltip">{{page.label}}</span>
    </li>
    <li class="profile">
      <div class="profile_details">
        <img src="../../assets/profile.jpeg" alt="profile image">
        <div class="profile_content">
          <div class="name">{{user.username | titlecase}}</div>
          <div class="designation">{{user.role | titlecase}}</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out" (click)="onLogout.emit()"></i>
    </li>
  </ul>
</div>