@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


.basic-dialog.p-dialog{
  width: 60vw;
}

@media screen and (max-width: 800px){
  .basic-dialog.p-dialog{
    margin-left: 5rem;
    width: 70vw;
  }
}

@media screen and (max-width: 576px){
  .basic-dialog.p-dialog{
    width: 80vw;
    margin-left: 0;
  }
}

@media screen and (max-width: 450px){
  .p-toast{
    width: 15rem;
    font-size: 14px;
  }
}